div.MainBox{
	width: 800px;
	height: 400px;
	margin: 0 auto;
	background-color: gray;
}

div.MainBox1{
	width: 400px;
	height: 200px;
	margin: 0 auto;
	background-color: gray;
}

div.Center{
	width: 1300px;
	margin: 0 auto;
	background-color: lightgreen;
}

div.MainBox3{
	width: 325px;
	height: 30px;
	margin-left: 790px;
	text-align:center;
	
}

div.MainBox4{
	width: 400px;
	height: 70px;
	margin: 0 auto;
	background-color: gray;
}

div.MainBox1{
	width: 400px;
	height: 230px;
	margin: 0 auto;
}

div.HeadingBox{
	text-align:center;
}

div.SymbolBox{
	margin-left: 348px;
}

p.Center{
	width: 150px;
	height: 20px;
	margin-left: 350px;
}

p.Center1{
	width: 150px;
	height: 20px;
	margin-left: 150px;
}

p.Center2{
	width: 550px;
	margin-left: 700px;
}

h4.Center2{
	width: 550px;
	margin-left: 700px;
}

p.Center3{
	width: 500px;
	margin-left: 710px;
}

h3.Center3{
	width: 500px;
	margin-left: 710px;
}

p.Center4{
	width: 500px;
	margin-left: 830px;
}

h3.Center4{
	width: 500px;
	margin-left: 830px;
}

h2.Output{
	height: 30px;
	background-color: lightgreen;
	text-align:center;
	color: green;
	margin-left: auto;
    margin-right: auto;
}


h1.Heading{
	text-align:center;
	background-color: lightblue;
}

h1.Heading1{
	margin-left: 670px;
	width: 550px;
	text-align:center;
	background-color: lightblue;
}

input.Align{
	margin-left: 352px;
}

input.Align1{
	margin-left: 100px;
}

input.Center{
	font-size:150%;
	color: blue;
	margin: 0 auto;
}


select.Align{
	margin-left: 330px;
}

a.link{
	font-size:150%;
}

a.help{
	font-size:160%;
	color: green;
}